<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647956529851-s7bhf7f5phlfv1j3re54niv7pe4sf1rk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647956529851-s7bhf7f5phlfv1j3re54niv7pe4sf1rk</string>
	<key>API_KEY</key>
	<string>AIzaSyDeMgZfDlaOo3b572Fj97mQCbpFJqWW8eg</string>
	<key>GCM_SENDER_ID</key>
	<string>647956529851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kindRides</string>
	<key>PROJECT_ID</key>
	<string>kindride-user</string>
	<key>STORAGE_BUCKET</key>
	<string>kindride-user.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647956529851:ios:4e86a3a0770eadec879f9e</string>
</dict>
</plist>